<ion-header *ngIf="movie">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movie-list"></ion-back-button>
    </ion-buttons>
    <ion-title><h2>{{movie.title}} ({{movie.year}})</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onChangedLanguage(isChanged)">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-loading-feedback [state]="state">
    <form [formGroup]="movieForm" *ngIf="movie && companies && actors">
      <ion-item>
        <ion-label><img
          src="{{ movie.poster }}"
          class="image"/></ion-label>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-label position="stacked" translate="Rating"></ion-label>
            <ion-input formControlName="imdbRating" [value]="movie.imdbRating"></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked" translate="Duration"></ion-label>
            <ion-input formControlName="duration" [value]="movie.duration"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" translate="Actors"></ion-label>
        <ion-select multiple formControlName="actors">
          <ion-select-option *ngFor="let actor of actors" [value]="actor.id">{{actor.firstname + ' ' + actor.lastname}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" translate="Companies"></ion-label>
        <ion-select formControlName="companieId">
          <ion-select-option *ngFor="let companie of companies" [value]="companie.id">{{companie.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" translate="Genre"></ion-label>
        <ion-select multiple formControlName="genre">
          <ion-select-option *ngFor="let genre of genres" [value]="genre">{{genre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </app-loading-feedback>
</ion-content>

<ion-footer *ngIf="movie" class="ion-padding ion-text-right">
    <app-loading-feedback
    [state]="stateUpdate"
    (retryPressed)="updateMovie()"
  >
    <ion-button type="submit" color="success"
      shape="round" (click)="updateMovie()" [disabled]="movieForm.invalid">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
    <ion-button type="button" color="danger"
      shape="round" (click)="deleteMovie()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </app-loading-feedback>
</ion-footer>
